<!--Call ng-template for first time-->
<ng-container *ngTemplateOutlet="tree;context:{$implicit:map}">
</ng-container>

<ng-template #tree let-node>
    <ul [class]="className.ul" *ngIf="node && node.length > 0">
        <ng-container *ngFor="let childNode of node">
            <li [class]="className.li" [ngClass]="{
                'path': childNode.childs && childNode.childs.length > 0 ? true : false,
                'last': childNode.childs ? (childNode.childs.length > 0 ? false : true) : true}">
                <!--Insert custom drop-down-->
                <ng-container
                    *ngComponentOutlet="component;inputs: {'value': childNode};injector: inject;"></ng-container>
                <ng-container *ngTemplateOutlet="tree;context:{$implicit:childNode.childs}"></ng-container>
            </li>
        </ng-container>
    </ul>
</ng-template>

<ng-content></ng-content>