@import '../../common.scss';

.login {
    margin: calc(50vh - 140px/2) auto 0;
    background-color: var(--b-secondary);
    width: 300px;
    height: 140px;
    border-radius: 10px;
    flex-direction: column;
}

.container-input {
    position: relative;
    width: 90%;
    height: 30px;
    margin-top: 25px;
    background-color: #fff;
    border-radius: 10px;

    >* {
        width: 100%;
        height: 100%;
    }

    input {
        font-size: 13px;
        padding: 0 10px;
        border: $inputBorder;
        border-radius: 10px;
        background-color: transparent;
        z-index: 99;

        &:focus {
            border: $inputBorder;
            border-radius: 10px;
            box-shadow: 0 0 5px 2px var(--b-primary);
        }

        &:focus~div,
        &:not(:placeholder-shown)~div {
            top: -18px;
            left: 0px;
            font-size: 12px;
            z-index: 100;
            background-color: var(--b-secondary);
            box-shadow: 0 0 5px 0.2px var(--b-primary);
            color: #303030;
        }
    }

    div {
        display: block;
        position: absolute;
        top: 2px;
        left: calc(50% - 77px);
        width: max-content;
        height: max-content;
        user-select: none;
        padding: 2px 4px;
        border-radius: 3px;
        transition: all 0.2s;
        font-size: 15px;
    }
}